@import "color"

html, body
  font-family: 'Rubik', sans-serif
  color: $color-base-text

a
  color: $color-base-text

#home
  text-align: center
  margin: 0 auto
  width: 80%

  .home-main-icon
    font-size: 42vw

  .home-section-sns
    display: flex
    padding: 12px
    justify-content: center
    .sns-icon
      font-size: 10vw
      margin: 8px

  img
    max-width: 500px
    width: 100%

#side-bar
  padding: 10px
  background: #f0f0f0
  height: 100%

  ul
    list-style-type: none
    padding: 0

#content-area
  flex: 1
  padding: 10px
